<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/page/head') %>
  </head>
  <body>
    <%- include('../partials/page/nav') %>

    <div class="scores-container">
      <div class="title">
        <h4>HighScores</h4>
      </div>

      <div class="scores">

        <table>
          <thead>
            <tr>
              <th>User</th>
              <th>Score</th>
            </tr>
          </thead>

          <tbody>
            <% for(var i=0; i<users.length; i++) { %>
              <tr>
                <td class="user">
                  <a href="/user/<%= users[i].id %>"><%= users[i].username %></a>
                </td>

                <td class="score">
                  <%= users[i].highScore %>
                </td>
              </tr>
            <% }; %>
          </tbody>
        </table
      </div>
    </div>

    <%- include('../partials/page/scripts') %>
  </body>
</html>
