<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/page/head') %>
  </head>
  <body>
    <%- include('../partials/page/nav') %>

    <div class="profile-container">
      <div class="profile-name">
        <h3>Username: <%= user.username %></h3>
      </div>

      <div class="stats-container">
        <div class="title">
          <h4>Current HighScore</h4>
        </div>

        <div class="highscore">
          <p>
            <%= user.highScore %>
          </p>
        </div>

        <div class="title">
          <h4>Total Games Played</h4>
        </div>

        <div class="games-played">
          <p>
            <%= userScores.length %>
          </p>
        </div>

      </div>

      <div class="profile-scores">
        <ul>
          <% for(var i=0; i<userScores.length; i++) { %>
            <li>
              <p>
                Score:
                <%= userScores[i].score %>
              </p>
              <p>
                Date Played:
                <%= userScores[i].date.toLocaleString() %>
              </p>
            </li>
            <% } %>
          </ul>
        </div>
    </div>


    <%- include('../partials/page/scripts') %>
  </body>
</html>
