<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/page/head') %>
  </head>
  <body>
    <%- include('../partials/page/nav') %>

    <div class="profile-container">
      <div class="profile-name">
        <h3>Username: <br/><br/><%= user.username %></h3>
      </div>

      <div class="stats-container">
        <div class="title">
          <h4>Current HighScore</h4>
        </div>

        <div class="highscore">
          <p>
            <%= user.highScore %>
          </p>
        </div>

        <div class="title">
          <h4>Total Games Played</h4>
        </div>

        <div class="games-played">
          <p>
            <%= userScores.length %>
          </p>
        </div>

      </div>

      <div class="profile-scores">
        <h4>All Scores</h4>

        <table>
          <thead>
            <tr>
              <th>Score</th>
              <th>Date Played</th>
            </tr>
          </thead>

          <tbody>
            <% for(var i=0; i<userScores.length; i++) { %>
              <tr>
                <td>
                  <%= userScores[i].score %>
                </td>
                <td>
                  <%= userScores[i].date.toLocaleString() %>
                </td>
              </tr>
              <% } %>
          </tbody>
        </table>
        
      </div>
    </div>


    <%- include('../partials/page/scripts') %>
  </body>
</html>
